/* ReccomendShop.css */
.reccomend-shop-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
}

.reccomend-title-container {
    display: flex;
    justify-content: center;
    align-items: center; /* จัดตำแหน่งให้ตรงกับ "สินค้าแนะนำ" */
    margin-bottom: 20px; /* เพิ่มระยะห่างจากส่วนที่ตามมา */
}

.reccomend-shop-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.reccomend-shop-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.reccomend-shop-card {
    width: 150px;
    text-align: center;
    padding: 10px;
}

.reccomend-shop-button {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reccomend-shop-button:hover {
    transform: scale(1.05);
}

.shop-logo {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}
